	POSICION: <%= pos %>
    <span class="icon-fotos icon-white icon-small"></span>
	<a class="" href="" data-pos="<%= pos %>"  data-cid="<%= cid %>"> <%= tipo %> </a>
	<%= texto %>
	<div class="iconos_campos_anuncio">
		<div class="mover_campo"><span data-hint="Arrastrar elemento" class="hint--top">
			<span class="icon-arrastrar icon-white icon-small"></span></span>
		</div>
		<div class="edit_campo">
			<a data-hint="Modificar elemento" class="editar_campo" href="">
				<span class="icon-editar icon-white icon-small"></span>
			</a>
		</div>
		<div class="delete_campo">
			<a data-hint="Borrar elemento" class="borrar_campo" href="">
				<span class="icon-borrar icon-white icon-small"></span>
			</a>
		</div>
	</div>
     <p><i>----- <%= estado %></i></p>
